@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#titleImage {
  background-size: auto;
  width: 100%;
  height: 450px;
  
}

.h1 {
  text-align: center;
  font-size: 50px;
    font-family: 'Pirata One',
    cursive;
}


footer {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}